{layout="site/.html-layout"}

	<section>
		
		<h3 class="text-left subheader">{embed:title}</h3>
		<blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>
		
	</section>
	<!-- widget area and sidebar -->
	

        <!-- these are the news posts, similar to the WP loop -->
    <section>
       {exp:channel:entries channel="news_fields"}
       <article>
          <h2>{title}</h2>
            <figure>
                <img class="th" src="{image}" alt="">
                <figcaption>{image_caption}</figcaption>
            </figure>
            <p>{news_body}</p>
        </article>
    <!-- pagination  -->
    
        {/exp:channel:entries}
        
    <!-- end of the pagination  -->
        {snippet_pagination}
    </section>


    <!-- end of the loop  -->

        











