{layout="site/.html-layout"}

<div class="row">

        <section class="small-8 medium-8 large-8 columns">
                {embed="embeds/.gallery"}
        </section>
        <!-- end of the sidebar -->
        <section class="small-2 medium-2 large-2 columns">
                {embed="embeds/.side"}
        </section>
        <section class="small-2 medium-2 large-2 columns">
                {embed="embeds/.side"}
        </section>
</div>
<div class="row">
        {embed="embeds/.zurb_table"}
</div>





        
