{layout="site/.html-layout"}

<div class="row">

        <section class="small-2 medium-2 large-2 columns">
                {snippet_sidenav}
        </section>
        <!-- end of the left sidebar -->
        <section class="small-8 medium-8 large-8 columns">
                {snippet_gallery}
        </section>
        <!-- end of the sidebar -->
        <section class="small-2 medium-2 large-2 columns">
                {snippet_sidenav}
        </section>
</div>
<div class="row">
        {snippet_pagination}
</div>
<div class="row">
        {snippet_table}
</div>





        
