
	<!-- gallery section -->
	<ul class="small-block-grid-2 large-block-grid-4">
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	  <li><img class="th" src="{site_url}/images/uploads/005.jpg"></li>
	</ul>
	<!-- end of the gallery section -->




