<section class="small-2 medium-2 large-2 columns">
                <ul class="side-nav">
                  <li class="active"><a href="{site_url}">Home</a></li>
                  <li><a href="{site_url}">About</a></li>
                  <li class="divider"></li>
                  <li><a href="{site_url}index.php/Work">Portfolio</a></li>
                  <li><a href="{site_url}index.php/News">News</a></li>
                  <li><a href="{site_url}index.php/Contact">Contact</a></li>
                </ul>

        </section>